@keyframes s_3-first-title-show {
	0% {
		opacity: 0;
		transform: translateX(-60vh);
	}
	100% {
		opacity: 1;
		transform: translateX(-75vh);
	}
}

@keyframes s_3-second-title-show {
	0% {
		opacity: 0;
		transform: translateY(-41.5vh);
	}
	100% {
		opacity: 1;
		transform: translateY(-32vh);
	}
}

@keyframes s_3-content-show {
	0% {
		opacity: 0;
		transform: translateY(50vh);
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
	}
}