body {
	background: black;
	overflow-x: hidden;
}

/* Sections */

.section:nth-child(1) {
	background: black url("../../Resources/Stock-Images/background-3.jpg") no-repeat;
	background-position: 0 -50vh;
	background-size: cover;
	backdrop-filter: blur(50px);
	height: 105vh;
	width: 100%;
	overflow: hidden;
}

/* Magic */

.notification-outer {
	position: absolute;
	top: 0;
	right: 0;
	height: 200vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: end;
	pointer-events: none;
}

.notification-outer .notification-inner {
	
}

.login-s_1-background-blur {
	animation: login-s_1-background-blur 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
}

.login-s_1-login-show {
	animation: login-s_1-login-show 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) forwards;
}

.section:nth-child(1) .background {
	position: absolute;
	top: 0;
	height: 105vh;
	width: 100%;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	backdrop-filter: blur(10px);
	z-index: -1;
}

.section:nth-child(1) .background .container {
	height: 65%;
	width: 40%;
	margin-top: 150px;
	background: blanchedalmond;
	box-shadow: 0 10px 15px 0px;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
	transform: translateY(100vh);
}

.section:nth-child(1) .background .container .part:nth-child(1) {
	flex: 45%;
	height: 100%;
	background: rgb(34, 34, 34);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:nth-child(1) .background .container .part:nth-child(1) img {
	width: 150px;
	border-bottom: 1px solid blanchedalmond;
	padding: 0 20px 30px;
	margin-bottom: 50px;
}

.section:nth-child(1) .background .container .part:nth-child(1) span {
	font-family: "Poppins-Extra-Bold";
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	color: blanchedalmond;
}

.section:nth-child(1) .background .container .part:nth-child(2) {
	flex: 55%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(1) {
	flex: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(1) .title {
	font-family: "Poppins-Black";
	font-size: 2.5rem;
	text-transform: uppercase;
	color: rgb(34, 34, 34);
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) {
	width: 100%;
	flex: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form {
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form span {
	align-self: end;
	margin-bottom: 100px;
	margin-right: 10px;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form span:hover a {
	color: rgb(79, 168, 67);
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form span a {
	font-family: "Poppins-Light";
	font-size: 0.7rem;
	text-decoration: none;
	color: rgb(34, 34, 34);
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form input {
	outline: 0;
	border: 0;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form label {
	width: 90%;
	margin-bottom: 5px;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form label:nth-child(1) {
	margin-bottom: 20px;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form label input {
	width: 90%;
	border-radius: 50px;
	background: rgb(186, 171, 149);
	padding: 5px;
	padding-left: 30px;
	transform: translateX(-8px);
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form label img {
	position: absolute;
	filter: brightness(0) saturate(100%) invert(10%) sepia(55%) saturate(0%) hue-rotate(273deg) brightness(88%) contrast(92%);
	transform: translateY(8px);
	width: 12px;
	z-index: 1;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form label img#eye {
	width: 15px;
	position: absolute;
	right: 40px;
	transform: translateY(-21px);
	cursor: pointer;
	opacity: 0;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form input[type="submit"] {
	padding: 10px 30px;
	background: rgb(186, 171, 149);
	border-radius: 50px;
	color: rgb(34, 34, 34);
	text-transform: uppercase;
	font-family: "Poppins-Bold";
	cursor: pointer;
	transition: all 0.3s;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form input[type="submit"]:hover {
	background: rgb(128, 117, 101);
	color: blanchedalmond;
}

.section:nth-child(1) .background .container .part:nth-child(2) .content:nth-child(2) form input[type="submit"]:active {
	background: rgb(34, 34, 34);
	color: beige;
}