@keyframes s_1-title-disappear {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes s_1-scroll-down-disappear {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-10vh);
		opacity: 0;
	}
}

@keyframes s_2-form-show {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(-15vh);
        opacity: 1;
    }
}

@keyframes contact-s_1-notif-show {
	0% {
		transform: translateX(50vh);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes contact-s_1-notif-hide {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(50vh);
	}
}