body {
    background: url("../Resources/Stock-Images/background.jpeg") no-repeat center center;
    background-size: cover;
}

/* Sections */

.section:nth-child(1) {
    height: 90vh;
    width: 100%;
}