* {
	font-family: "Poppins-Regular";
	user-select: none;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 1vh;
}

::-webkit-scrollbar-thumb {
	background: rgb(48, 72, 52);
	background-clip: padding-box;
	border: 2px solid transparent;
	border-radius: 20%;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(59, 103, 65);
	border: 0;
}

::-webkit-scrollbar-track {
	background: black;
}

/* Navigation Bar */

.navbar {
	margin-top: 0.5rem;
	height: 70px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar .shadow {
	z-index: -1;
	position: absolute;
	top: 0;
	height: 100px;
	width: 100%;
	background: linear-gradient(
		to bottom,
		rgba(17, 24, 18, 0.8) 10%,
		rgba(17, 24, 18, 0)
	);
}

.navbar .shadow::before {
	content: "";
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		to bottom,
		rgba(17, 24, 18, 0.5) 60%,
		rgba(17, 24, 18, 0)
	);
	transition: opacity 1s;
}

.navbar:hover .shadow::before {
	opacity: 1;
}

.navbar .logo {
	flex: 25%;
	display: flex;
	justify-content: center;
}

.navbar .menu {
	flex: 50%;
	display: flex;
	justify-content: center;
}

.navbar .portal {
	flex: 25%;
	display: flex;
	justify-content: center;
}

.navbar .logo img {
	height: 40px;
	width: 40px;
	align-self: center;
}

.navbar .logo .text {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navbar .logo .text span {
	color: beige;
	font-size: 0.7rem;
	text-transform: uppercase;
}

.navbar .menu ul,
.navbar .portal ul {
	list-style-type: none;
}

.navbar .menu ul li:not(#active) {
	display: inline;
	cursor: pointer;
	padding: 5px 5px;
	margin: 0 10px;
	font-size: 0.8rem;
}

.navbar .menu ul li#active {
	display: inline;
	padding: 5px 5px;
	margin: 0 10px;
	font-family: "Poppins-Black";
	font-size: 1rem;
	color: olivedrab;
}

.navbar .portal ul li:not(#active, :nth-child(2)) {
	display: inline;
	cursor: pointer;
	padding: 5px 5px;
	margin: 0;
	font-size: 0.8rem;
}

.navbar .portal ul li:nth-child(2) {
	display: inline;
	padding: 5px 5px;
	margin: 0;
	font-size: 0.8rem;
	color: beige;
}

.navbar .portal ul li#active {
	display: inline;
	padding: 5px 5px;
	font-family: "Poppins-Black";
	font-size: 1rem;
	color: olivedrab;
}

.navbar .menu ul li a,
.navbar .portal ul li a {
	text-decoration: none;
	color: beige;
	transition: all 0.3s;
}

.navbar .menu ul li:not(#active):hover a,
.navbar .portal ul li:not(#active):hover a {
	color: mediumseagreen;
}

/* Go Up Button */

.go-back .ball {
	height: 35px;
	width: 35px;
	background: olivedrab;
	border-radius: 50%;
	position: sticky;
	top: 87vh;
	right: 80px;
	transition: all 0.3s;
}

.go-back .ball:hover {
	height: 40px;
	width: 40px;
	right: 77px;
	background: mediumseagreen;
}

.go-back .ball img {
	height: 100%;
	width: 100%;
}

/* footer */

.section:last-child {
	height: 73.5vh;
	width: 100%;
	background: rgb(19, 20, 24);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:last-child .content:nth-child(1) {
	flex: 67%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.section:last-child .content:nth-child(2) {
	flex: 6%;
	width: 100%;
}

.section:last-child .content:nth-child(3) {
	flex: 27%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:last-child .content:nth-child(1) .part:nth-child(1) {
	flex: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:last-child .content:nth-child(1) .part:nth-child(2) {
	flex: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:last-child .content:nth-child(1) .part:nth-child(3) {
	flex: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:last-child .content:nth-child(1) .part:nth-child(4) {
	flex: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section:last-child .content:nth-child(1) .part .container:first-child {
	flex: 40%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section:last-child .content:nth-child(1) .part .container:last-child {
	flex: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section:last-child .content:nth-child(1) .part .container:first-child span {
	font-family: "Poppins-Bold";
	color: beige;
	text-transform: uppercase;
}

.section:last-child .content:nth-child(1) .part:nth-child(1) img {
	width: 40%;
	margin-bottom: 20px;
}

.section:last-child .content:nth-child(1) .part:nth-child(1) span {
	color: beige;
	width: 10rem;
	text-align: center;
	line-height: 17px;
}

.section:last-child .content:nth-child(1) .part:nth-child(2) .container:last-child span {
	width: 80%;
	text-align: center;
	font-family: "Poppins-Light";
	font-size: 0.85rem;
	color: blanchedalmond;
	margin-bottom: 15px;
}

.section:last-child .content:nth-child(1) .part:nth-child(2) .container:last-child .__ {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.section:last-child .content:nth-child(1) .part:nth-child(2) .container:last-child .__ input[name="email"] {
	width: 45vh;
	outline: none;
	padding: 3px 5px;
	padding-left: 15px;
	border-radius: 5px 0 0 5px;
	border: 0;
	color: rgb(28, 28, 28);
	background: rgb(238, 238, 238);
	transition: all 1s, background 0.3s;
}

.section:last-child .content:nth-child(1) .part:nth-child(2) .container:last-child .__ input[name="email"]:focus {
	border-radius: 13px 0 0 13px;
	background: rgb(181, 211, 186);
}

.section:last-child .content:nth-child(1) .part:nth-child(2) .container:last-child .__ input[type="submit"] {
	cursor: pointer;
	background: rgb(224, 224, 224);
	padding: 3px 10px;
	border: 0;
	border-radius: 0 5px 5px 0;
	transition: border-radius 1s, background 0.3s;
}

.section:last-child .content:nth-child(1) .part:nth-child(2) .container:last-child .__ input[type="submit"]:hover {
	background: rgb(186, 186, 186);
}

.section:last-child .content:nth-child(1) .part:nth-child(2) .container:last-child .__ input[type="submit"]:active {
	background: rgb(64, 64, 64);
	color: bisque;
}

.section:last-child .content:nth-child(1) .part:nth-child(2) .container:last-child .__ input[name="email"]:focus ~ input[type="submit"] {
	border-radius: 0 13px 13px 0;
	background: rgb(153, 178, 157);
}

.section:last-child .content:nth-child(1) .part:nth-child(2) .container:last-child .__ input[name="email"]:focus ~ input[type="submit"]:hover {
	background: rgb(125, 146, 129);
}

.section:last-child .content:nth-child(1) .part:nth-child(3) .container:last-child ul,
.section:last-child .content:nth-child(1) .part:nth-child(4) .container:last-child ul {
	margin-top: 0;
	list-style-type: none;
}

.section:last-child .content:nth-child(1) .part:nth-child(3) .container:last-child ul li,
.section:last-child .content:nth-child(1) .part:nth-child(4) .container:last-child ul li {
	margin-top: 0;
	margin-bottom: -5px;
}

.section:last-child .content:nth-child(1) .part:nth-child(3) .container:last-child ul li a,
.section:last-child .content:nth-child(1) .part:nth-child(4) .container:last-child ul li a {
	font-family: "Poppins-Light";
	font-size: 0.85rem;
	color: blanchedalmond;
	text-decoration: none;
	transition: all 0.3s;
}

.section:last-child .content:nth-child(1) .part:nth-child(3) .container:last-child ul li a:hover,
.section:last-child .content:nth-child(1) .part:nth-child(4) .container:last-child ul li a:hover {
	color: rgb(203, 171, 131);
}

.section:last-child .content:nth-child(2) hr {
	width: 0px;
	animation: footer_hr-show both;
	animation-timeline: view();
	animation-range: 0% 25%;
}

@keyframes footer_hr-show {
	0% {
		opacity: 0;
		width: 0%;
	}
	100% {
		opacity: 1;
		width: 50%;
	}
}

.section:last-child .content:nth-child(3) .socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.section:last-child .content:nth-child(3) .socials a {
	margin: 0 5px;
	margin-top: 30px;
}

.section:last-child .content:nth-child(3) .socials a img {
	width: 25px;
	filter: brightness(0) saturate(100%) invert(93%) sepia(13%) saturate(475%) hue-rotate(356deg) brightness(112%) contrast(92%);
}

.section:last-child .content:nth-child(3) span {
	font-size: 0.9rem;
	font-family: "Poppins-Thin";
	color: beige;
}