* {
	font-family: "Poppins-Regular";
	user-select: none;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
	width: 1vh;
}

::-webkit-scrollbar-thumb {
	background: rgb(48, 72, 52);
	background-clip: padding-box;
	border: 2px solid transparent;
	border-radius: 20%;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(59, 103, 65);
	border: 0;
}

::-webkit-scrollbar-track {
	background: black;
}

/* Navigation Bar */

.navbar {
	margin-top: 1rem;
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar .shadow {
	z-index: -1;
	position: absolute;
	top: 0;
	height: 150px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(17, 24, 18, 0.8) 10%, rgba(17, 24, 18, 0));
}

.navbar .shadow::before {
	content: "";
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, rgba(17, 24, 18, 0.5) 60%, rgba(17, 24, 18, 0));
	transition: opacity 1s;
}

.navbar:hover .shadow::before {
	opacity: 1;
}

.navbar .logo {
	flex: 25%;
	display: flex;
	justify-content: center;
}

.navbar .menu {
	flex: 50%;
	display: flex;
	justify-content: center;
}

.navbar .portal {
	flex: 25%;
	display: flex;
	justify-content: center;
}

.navbar .logo img {
	height: 60px;
	width: 60px;
	align-self: center;
}

.navbar .logo .text {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.navbar .logo .text span {
	color: beige;
	font-size: 1rem;
	text-transform: uppercase;
}

.navbar .menu ul, .navbar .portal ul {
	list-style-type: none;
}

.navbar .menu ul li:not(#active) {
	display: inline;
	cursor: pointer;
	padding: 5px 5px;
	margin: 0 10px;
	font-size: 1rem;
}

.navbar .menu ul li#active {
	display: inline;
	padding: 5px 5px;
	margin: 0 10px;
	font-family: "Poppins-Black";
	font-size: 1.2rem;
	color: olivedrab;
}

.navbar .portal ul li:not(#active, :nth-child(2)) {
	display: inline;
	cursor: pointer;
	padding: 5px 5px;
	margin: 0;
	font-size: 1rem;
}

.navbar .portal ul li:nth-child(2) {
	display: inline;
	padding: 5px 5px;
	margin: 0;
	font-size: 1rem;
	color: beige;
}

.navbar .portal ul li#active {
	display: inline;
	padding: 5px 5px;
	font-family: "Poppins-Black";
	font-size: 1.2rem;
	color: olivedrab;
}

.navbar .menu ul li a, .navbar .portal ul li a {
	text-decoration: none;
	color: beige;
	transition: all 0.3s;
}

.navbar .menu ul li:not(#active):hover a, .navbar .portal ul li:not(#active):hover a {
	color: mediumseagreen;
}

/* Go Up Button */

.go-back .ball {
	height: 40px;
	width: 40px;
	background: olivedrab;
	border-radius: 50%;
	position: sticky;
	top: 85vh;
	right: 97px;
	transition: all 0.3s;
}

.go-back .ball:hover {
	height: 45px;
	width: 45px;
	right: 94px;
	background: mediumseagreen;
}

.go-back .ball img {
	height: 100%;
	width: 100%;
}